.nav-link {
    display: inline;
}

nav {
    text-align: right;
}

.fab {
    display: inline;
    font-size: 2em;
}

.fa-plane {
    font-size: 2em;
}

header {
    padding: 10px 10px 10px 10px;
    background-color: azure;
}

.jumbotron {
    background-color: plum;
    border-radius: 25px;
}

.display-4 {
    color: purple;
    font-weight: bold;

}


.card {}

.progress {
    margin-bottom: 10px;
}

.progress-bar-purple {
    background-color: purple !important;
}

.progress-bar-plum {
    background-color: plum !important;
}


.btn-more {
    margin-top: 10px;
}

.little_card {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: plum;
}

.row_of_cards {
    margin-top: 20px;
    background-color: plum;
    border-radius: 25px;
}

form {
    margin-top: 20px;
}
